<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisations List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Списък с акаунти на организации</h1>
    <form action="/admin/filter" method="POST">
        <label for="order">Подреди по дата на регистрация:</label>
        <select name="order" id="order">
            <option value="desc">низходящ ред</option>
            <option value="asc">възходящ ред</option>
        </select>
        <button type="submit">филтрирай</button>
    </form>
    <form th:action="@{/admin/deleteAllOrganisations}" method="POST">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
            ИЗТРИВАНЕ НА ВСИЧКИ АКАУНТИ
        </button>
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Потвърждение на операцията</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Сигурни ли сте , че искате да изпълните операцията?</p>
                        <div class="form-group">
                            <label for="password">Въведете парола за сигурност</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                        <button type="submit" class="btn btn-danger">Изтриване</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <table class="table">
        <thead>
        <tr>
            <th>Идентификационен номер</th>
            <th>Име на организация</th>
            <th>Електронна поща</th>
            <th>Статус на акаунта</th>
            <th>Дата на регистрация</th>
            <th>Дата на последно обновяване</th>
        </tr>
        </thead>
        <tbody id="orgs" name="orgs">
        <tr th:each="org : ${orgs}">
            <td th:text="${org.id}">Id</td>
            <td th:text="${org.organisationName}">Default</td>
            <td th:text="${org.user.username}">Default</td>
            <td th:text="${org.user.isEnabled}? 'Активен' : 'Неактивен'">Default</td>
            <td th:text="${#temporals.format(org.registeredAt, 'dd-MM-yyyy HH:mm')}">Date</td>
            <td th:text="${#temporals.format(org.updatedAt, 'dd-MM-yyyy HH:mm')}">Date</td>

            <td>
                <a th:href="@{/admin/organisation-events-management/{id}(id=${org.id})}">
                    <button type="button">
                        Събития
                    </button>
                </a>
                <form th:action="@{/admin/update/{id}(id=${org.id})}" method="post">
                    <input type="hidden" name="id" th:value="${org.id}">
                    <label for="status">Смени статуса на:</label>
                    <select name="status" id="status">
                        <option value="true" th:selected="${org.user.isEnabled}">Активен</option>
                        <option value="false" th:selected="${!org.user.isEnabled}">Неактивен</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Обнови</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/delete/{id}(id=${org.id})}" method="post">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
                        ИЗТРИВАНЕ НА ПРОФИЛЪТ
                    </button>
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </form>
            </td>
        </tr>
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()">
                <form class="form-inline" th:action="@{/logout}" method="post">
                    <button class="btn btn-link nav-link" type="submit">Изход</button>
                </form>
            </li>
        </ul>
        </tbody>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</script>
</body>
</html>
