<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/menu}">Главно меню</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/organisations}">Организации</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">

                    <li sec:authorize="isAuthenticated()">
                        <form class="form-inline" th:action="@{/logout}" method="post">
                            <button class="btn btn-link nav-link" type="submit">Изход</button>
                        </form>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Идентификационен номер</th>
        <th>Име на събитие</th>
        <th>ЗапочвА</th>
        <th>приключва</th>
    </tr>
    </thead>
    <tbody id="events" name="events">
    <tr th:each="event : ${events}">
        <td th:text="${event.eventId}"></td>
        <td th:text="${event.name}" class="event-name"></td>
        <td th:text="${#temporals.format(event.startsAt, 'dd.MM.yyyy hh:mm')}"></td>
        <td th:text="${#temporals.format(event.endsAt, 'dd.MM.yyyy hh:mm')}"></td>
        <td>
            <a th:href="@{/admin/event-details/{id}(id=${event.eventId})}">
                <button type="button">
                    Детайли
                </button>
            </a>
            <form  th:action="@{/admin/delete-organisation-event/{id}(id=${event.eventId})}" method="post">
                <input type="hidden" name="previousUrl" th:value="${previousUrl}" />
                <button class="btn btn-link nav-link" type="submit">ИЗТРИЙ</button>
            </form>
            <form  th:action="@{/admin/update-event-status/{id}(id=${event.eventId})}" method="post">
                <input type="hidden" name="previousUrl" th:value="${previousUrl}" />
                <label for="status">Статус:</label>
                <select name="status" id="status">
                    <option value="true" th:selected="${event.isEnabled}">Одобрен</option>
                    <option value="false" th:selected="${!event.isEnabled}">Забранен</option>
                </select>
                <button class="btn btn-link nav-link" type="submit">ЗАПИШИ</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<!-- Required Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI9MdXJXpIwVJUoW+Ai"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
<script>
  // Retrieve the last selected status value from local storage
  const lastSelectedStatus = localStorage.getItem('lastSelectedStatus');

  // If a value was found, set the selected option to it
  if (lastSelectedStatus) {
    document.querySelector(`#status [value='${lastSelectedStatus}']`).selected = true;
  }

  // Add an event listener to the select element to update local storage when the value changes
  document.getElementById('status').addEventListener('change', function(event) {
    localStorage.setItem('lastSelectedStatus', event.target.value);
  });
</script>


