<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link"th:href="@{/menu}">Главно меню</a>
                    </li>
                    <li sec:authorize="hasAuthority('ORGANISATION')">
                        <a class="nav-link" th:href="@{/organisation/create-event}">Създаване на събития</a>m
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">


                    <li sec:authorize="hasAuthority('ORGANISATION')">
                        <a class="nav-link" th:href="@{/organisation/settings}">Настройки</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <form class="form-inline" th:action="@{/logout}" method="post">
                            <button class="btn btn-link nav-link" type="submit">Изход</button>
                        </form>
                    </li>
                </ul>



            </div>
        </div>
    </nav>
</head>
<body>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Потвърждение на операцията</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Сигурни ли сте , че искате да изпълните операцията?</p>
                <div class="form-group">
                    <label for="password">Въведете парола за сигурност</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                <button type="submit" class="btn btn-danger">Изтриване</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Име на събитие</th>
        <th>Дата на започване</th>
        <th>Дата на приключване</th>
        <th>Местоположения</th>
        <th>Брояч до започване</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}" class="event-name"></td>
        <td th:text="${#temporals.format(event.startsAt, 'dd.MM.yyyy hh:mm')}"></td>
        <td th:text="${#temporals.format(event.endsAt, 'dd.MM.yyyy hh:mm')}"></td>
        <td>
            <a th:href="@{/organisation/event-details/{id}(id=${event.eventId})}"><button type="button"  >
                Подробности
            </button></a>
            <form th:action="@{/organisation/event/{id}/edit(id=${event.eventId})}" methods="post">Редактирай</form>
            <form th:action="@{/organisation/delete-event/{id}(id=${event.eventId})}" method="post"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
                изтрий
            </button></form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

