<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img th:src="@{'data:image/JPG;base64,'+${event.imageDataUrl}}" alt="Event Image" style="height: 550px; width: 540px;">
        </div>
        <div class="col-md-6">
            <h2 th:text="${event.name}"></h2>
            <p>Брояч до започване:</p>
            <h4 th:text="${event.counter}" id="counter"> </h4>
            <p style="display:inline-block">Времетраене <p  th:text="${event.duration}"></p></p>
            <p th:text="${event.description}"></p>
            <ul>
                <li><strong>Категории: </strong><span th:text="${event.eventCategories}"></span></li>
                <li><strong>Вход: </strong><span th:text="${#strings.toString(event.entranceType.value)}"></span></li>

                <li><strong>Дата на започване: </strong><span th:text="${#temporals.format(event.startsAt, 'dd/MM/yyyy HH:mm')}"></span></li>

                <li><strong>Дата на приключване: </strong><span th:text="${#temporals.format(event.endsAt, 'dd/MM/yyyy HH:mm')}"></span></li>

                <li><strong>Ключови думи: </strong><span th:text="${event.keywords}"></span></li>
                <li ><strong>Населено място: </strong><div style="display:inline-block" th:each="location : ${event.locations}"> <span th:text="*{location}"></span></div></li>
                <li><strong>Адрес: </strong><span th:text="${event.address}"></span></li>
            </ul>
            <a th:href="${event.linkToApplicationForm}" class="btn btn-primary">Линк към събитието</a>
            <li sec:authorize="hasAuthority('ORGANISATION')">
                <a th:href="@{/organisation/event-management}">
                    Към управление на събития</a>
                <a href="javascript:history.back()">Назад</a></li>

            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="javascript:history.back()">Назад</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="javascript:history.back()">Назад</a>
            </li>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVQ8uW"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>




