<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Платформа за генериране на събития</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Меню</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Събития</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Свържи се с нас</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/register}">Регистрация</a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Вписване</a>
          </li>
          <li sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" th:href="@{/admin/organisations}">Организации</a>
          </li>
          <li sec:authorize="hasAuthority('ORGANISATION')">
            <a class="nav-link" th:href="@{/organisation/settings}">Настройки</a>
          </li>
          <li sec:authorize="hasAuthority('ORGANISATION')">
            <a class="nav-link" th:href="@{/organisation/event-management}">Управление на събития</a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <form class="form-inline" th:action="@{/logout}" method="post">
              <button class="btn btn-link nav-link" type="submit">Изход</button>
            </form>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</head>
<body>
<form method="post" action="/findByName">
  <div class="form-group">
    <label for="nameInput">Search by name:</label>
    <input type="text" name="name" id="nameInput" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Starts at</th>
      <th>Ends at</th>
    </tr>
    </thead>
    <tbody>
    <!-- iterate through each event -->
    <tr th:each="event : ${events}">
      <!-- image column -->
      <td>
        <img th:src="${event.imageUrl}" class="img-fluid" alt="Event Image" style="max-width: 100%; height: auto;">
      </td>
      <!-- event information columns -->
      <td th:text="${event.name}" class="event-name"></td>
      <td th:text="${#temporals.format(event.startsAt, 'dd.MM.yyyy hh:mm')}"></td>
      <td th:text="${#temporals.format(event.endsAt, 'dd.MM.yyyy hh:mm')}"></td>
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>
<script>
    $(document).ready(function() {
        $('.table').DataTable({
            responsive: true
        });
    });
</script>


