<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Menu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Платформа за генериране на събития</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Меню</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Събития</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Свържи се с нас</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/register}">Регистрация</a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Вход</a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/organisation/settings}">Настройки на акаунт</a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <form class="form-inline" th:action="@{/logout}" method="post">
              <button class="btn btn-link nav-link" type="submit">Изход</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--  <script>-->
<!--    const isAuthenticated = authentication.isAuthenticated();-->
<!--    if (isAuthenticated) {-->
<!--      document.getElementById("logout-item").style.display = "block";-->
<!--    }-->
<!--  </script>-->
</head>
<body>
</body>
</html>
