<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src=js/jquery-3.6.0.min.js></script>-->
<!--    <script src=js/jquery-3.6.0.js></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
<!--          crossorigin="anonymous">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--<section class="text-center">-->
<!--    &lt;!&ndash; Background image &ndash;&gt;-->
<!--    <div class="p-5 bg-image" style="-->
<!--        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');-->
<!--        height: 300px;-->
<!--        "></div>-->
<!--    &lt;!&ndash; Background image &ndash;&gt;-->

<!--    <div class="card mx-4 mx-md-5 shadow-5-strong" style="-->
<!--        margin-top: -100px;-->
<!--        background: hsla(0, 0%, 100%, 0.8);-->
<!--        backdrop-filter: blur(30px);-->
<!--        ">-->
<!--        <div class="card-body py-5 px-md-5">-->

<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="col-lg-8">-->
<!--                    <h2 class="fw-bold mb-5">Sign up now</h2>-->
<!--                    <form action="@{submit}" method="post" name="registration">-->
<!--                        &lt;!&ndash; 2 column grid layout with text inputs for the first and last names &ndash;&gt;-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6 mb-4">-->
<!--                                <div class="form-outline">-->
<!--                                    <input type="text" id="form3Example1" name="name" class="form-control" />-->
<!--                                    <label class="form-label"   for="form3Example1">Име на организацията</label>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                        &lt;!&ndash; Email input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="email" id="form3Example3" name="email" class="form-control" />-->
<!--                            <label class="form-label"  for="form3Example3">Електронна поща</label>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Password input &ndash;&gt;-->
<!--                        <div class="form-outline mb-4">-->
<!--                            <input type="password" id="form3Example4" name="password" class="form-control" />-->
<!--                            <label class="form-label" for="form3Example4">Парола</label>-->
<!--                        </div>-->
<!--                            <div class="form-outline mb-4">-->
<!--                                <input type="password" id="form3Example5" name="confirmPassword" class="form-control" />-->
<!--                                <label class="form-label" for="form3Example5">Въведете отново паролата</label>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <label for="dateOfFoundation">Date of Foundation:</label>-->
<!--                                <input type="date" name="dateOfFoundation" id="dateOfFoundation" required>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <label for="locations">Locations:</label>-->
<!--                                <select class="form-control" id="locations" name="locations" multiple required>-->
<!--                                    <option th:each="location : ${locations}" value="${location}" th:text="${location.cityRegion}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <p th:if="${errorMessage}">-->
<!--                                <p th:text="${errorMessage}" style="color: red;"></p>-->
<!--                                <button type="submit" class="btn btn-primary btn-block mb-4">-->
<!--                                    Sign up-->
<!--                                </button>-->
<!--                            </div>-->

<!--                        &lt;!&ndash; Submit button &ndash;&gt;-->


<!--                        &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--                        <div class="text-center">-->
<!--                            <p>or sign up with:</p>-->
<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-facebook-f"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-google"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-twitter"></i>-->
<!--                            </button>-->

<!--                            <button type="button" class="btn btn-link btn-floating mx-1">-->
<!--                                <i class="fab fa-github"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="bg-BG" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Organization Registration</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <style>
        .form-control {
            margin-bottom: 10px;
        }
        body {
            background-image: url('https://images.unsplash.com/photo-1573843941892-2e37f0cb9b69');
            background-size: cover;
        }



    </style>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto bg-light rounded p-3">
            <h1 class="text-center mb-3">Organization Registration</h1>
            <form th:action="@{submit}" th:object="${org}" method="post">
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" id="name" name="name" class="form-control" required/>
                    <div class="form-group">
                        <div th:if="${nameError}" class="alert alert-danger">
                            <p th:text="${nameError}" style="color: red;"></p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div class="form-group">
                            <div th:if="${emailError}" class="alert alert-danger">
                                <p th:text="${emailError}" style="color: red;"></p>
                            </div>

                        </div>


                    </div>
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="form-group">
                            <div th:if="${passwordError}" class="alert alert-danger">
                                <p th:text="${passwordError}" style="color: red;"></p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password*</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <div>
                            <label for="locations">Locations:</label>
                            <select class="form-control" id="locations" name="locations" multiple>
                                <option th:each="location : ${cities}" th:value="${location.city}"
                                        th:text="${location}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <p th:text="${errorMessage}" style="color: red;"></p>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/menu" class="btn btn-secondary ml-3" role="button">Cancel</a>
                            <a href="/login" class="btn btn-link mt-3" role="button">Already registered? Log in here.</a>
                        </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>-->
<!--    <link href="https://cdn.misdeliver.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-EVSTATI3/aprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
<!--          crossorigin="anonymous">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add new resort</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Add new resort</h1>-->
<!--<form action="#" th:action="@{submit}" method="post" th:object="${org}">-->
<!--    <p>name: <input type="text" th:field="*{name}"></p>-->
<!--    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>-->
<!--    <p>country: <input type="email" th:field="*{email}"></p>-->
<!--    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>-->
<!--    <p>country: <input type="password" th:field="*{password}"></p>-->
<!--    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>-->
<!--    <p>country: <input type="password" th:field="*{confirmPassword}"></p>-->
<!--    <select class="form-control" id="locations" name="locations" multiple required>-->
<!--        <option th:each="location : ${cities}" th:value="${location.city}" th:text="${location}"></option>-->
<!--    </select>-->
<!--    <div th:if="${errorMessage}">-->
<!--        <p th:text="${errorMessage}" style="color: red;"></p>-->
<!--    </div>-->
<!--    <p><input type="submit" name="save" value="Save"></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->